#input-field{
    font-size: 26px;
    font-weight: 5px;
    border: solid rgba(16, 220, 20, 0.557) 2px;
    margin-top: 15%;
    margin-left: 20%;
}
#wrote{
    font-size: 24px;
font-weight: 5px;

margin-top: 2%;
margin-left: 22%;
}