.tablediv{
    display: flex;
    background-color:orange;
    height: 50px;
    width: 91%;
}
table{
    width: 500px;
    /* border:2px solid;  */
}
.middletd{
    /* border:2px solid; */
    width:300px;
}
h2{
    color: rgb(225, 116, 27);
    margin-left: 50px;
    font-size: 40px;
    text-align: center;
}
h5{
    margin-left: 50px;
    font-size: 20px;
    text-align: center;
}
button{
    font-size: 15px;
    padding: 8px 25px;
    background-color: rgb(184, 100, 23);
    margin-left: 10px;
   
   
}
#tableid{
   
    text-align: center;
    width: 800px;
    margin-left: 30%;
}
#populationtable{
   
    text-align: center;
    width: 800px;
    margin-left: 30%;
}
.graph-buttons{
    margin-left: 30%;
}